global
    daemon
    user    haproxy
    group   haproxy
    maxconn 65536
    log     127.0.0.1 local0
    log     127.0.0.1 local1 notice
    stats   socket /var/run/haproxy_stats.sock mode 666 level admin

defaults
    log     global
    option  dontlognull
    maxconn 1200
    retries 15
    timeout connect 5s
    timeout client  1m
    timeout server  1m
    option  redispatch
    balance roundrobin

listen stats :3212
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats auth admin:{{ service_pass }}

{% raw %}

{{ if exists "/services/external_www" }}
frontend external_www
    mode http
    bind 0.0.0.0:7100
    default_backend external_www
backend external_www
    mode http
    cookie SRVID insert indirect nocache maxidle 60m
    {{ range gets "/backends/external_www/*" }}
    {{ $data := .Value }}
    server {{ $data }}_container {{ $data }} cookie {{ $data }} check inter 2s rise 2 fall 2 
    {{ end }}
{{ end }}

{{ if exists "/services/internal_www" }}
frontend internal_www
    mode http
    bind 0.0.0.0:7101
    default_backend internal_www
backend internal_www
    mode http
    cookie SRVID insert indirect nocache maxidle 60m
    {{ range gets "/backends/internal_www/*" }}
    {{ $data := .Value }}
    server {{ $data }}_container {{ $data }} cookie {{ $data }} check inter 2s rise 2 fall 2 
    {{ end }}
{{ end }}

{{ if exists "/services/jenkins" }}
frontend jenkins
    mode http
    bind 0.0.0.0:7110
    default_backend jenkins
backend jenkins
    mode http
    {{ $data := getv "/services/jenkins" }}
    server {{ $data }}_container {{ $data }} check inter 2s rise 2 fall 2 
{{ end }}

{{ if exists "/services/external_mariadb" }}
frontend external_mariadb
    mode tcp
    bind 0.0.0.0:7150
    default_backend external_mariadb
backend external_mariadb
    option mysql-check user haproxy post-41
    mode tcp
    {{ range gets "/backends/external_mariadb/*" }}
    {{ $data := .Value }}
    server {{ $data }}_container {{ $data }} check inter 2s rise 2 fall 2 
    {{ end }}
{{ end }}

{{ if exists "/services/internal_mariadb" }}
frontend internal_mariadb
    mode tcp
    bind 0.0.0.0:7151
    default_backend internal_mariadb
backend internal_mariadb
    option mysql-check user haproxy post-41
    mode tcp
    {{ range gets "/backends/internal_mariadb/*" }}
    {{ $data := .Value }}
    server {{ $data }}_container {{ $data }} check inter 2s rise 2 fall 2 
    {{ end }}
{{ end }}

{% endraw %}
